body {
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

tr.odd {
    background-color: #3E4349;
}
tr.even {
    background-color: #666666;
}

a {
    color:white;
}
th {
    text-align: left;
}
.left {
    position:absolute;
    left:0; top:0; bottom: 0;
    width: 250px;
    padding: 2em;
}
.main {
    position: absolute;
    left:250px; top:0; right:0; bottom:0;
    padding: 3em;
}
ul.menu {
    list-style-type: none;
    padding-left: 0.5em;
}

ul.menu li {
    margin-bottom: 0.2em;
}

ul.menu a {
    background-color: black;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: grey;
    color: white;
}

dl {
    border: 3px solid;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
}
dt:after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em .5em;
}

.current_item {
    background-color: #A00000 !important;
}